@import '../../globals.css';

@theme {
    --color-auth-card-bg: var(--color-c8);
    --color-auth-card-border: color-mix(
        in oklab,
        var(--color-c2) 25%,
        transparent
    );
    --color-auth-card-title: var(--color-c1);
    --color-auth-card-subtitle: color-mix(
        in oklab,
        var(--color-c2) 50%,
        transparent
    );
}

div.auth-card-container {
    @apply w-full max-w-md space-y-6 rounded-xl p-8 shadow-sm border;
    @apply bg-auth-card-bg border-auth-card-border;
}

header.auth-card-header {
    @apply flex flex-col gap-1 text-center rtl:text-center;
}

h1.auth-card-title {
    @apply text-2xl font-bold tracking-tight flex items-center justify-center gap-2;
    @apply text-auth-card-title;
}

p.auth-card-subtitle {
    @apply text-sm font-medium;
    @apply text-auth-card-subtitle;
}

form.auth-card-form {
    @apply flex flex-col gap-4;
}
